@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Mr+Dafoe&family=Roboto+Serif:wght@100&display=swap");

h1:hover {
  cursor: pointer;
  text-decoration: underline;
}

ol {
  padding-inline-start: 1rem;
  margin-top: 0.5rem;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  text-align: center;
}

.agreement {
  text-align: left;
  margin: 40px auto;
  max-width: 600px;
  border: 1px gray dotted;
  padding: 2rem;
  border-radius: 0.5rem;
}

.agreement > ol li {
  margin-top: 1rem;
}

.agreement button {
  display: block;
  margin: auto;
  cursor: pointer;
  padding: 1rem 2rem;
  margin-top: 1rem;
  font-size: 1.2rem;
  box-shadow: 3px 3px 4px;
}

.agreement h2 {
  cursor: pointer;
  text-align: center;
}

.agreement h2:hover {
  text-decoration: underline;
}

.handwritten {
  font-family: "Homemade Apple", cursive;
  font-size: 1.4rem;
  padding-left: 0.5rem;
}

input[type="text"] {
  padding: 0 1rem;
  text-indent: 0.5rem;
  margin: 1rem 0.2rem;
  min-width: 15rem;
  border: 0;
  border-bottom: 1px gray dashed;
  background-color: beige;
  color: black;
}

input[type="text"]::placeholder {
  color: #afafaf;
}

.signed {
  display: inline-block;
  border: 1px dashed gray;
  padding: 0.5rem;
  margin: 0.5rem;
  font-weight: bold;
}

.signed input {
  margin-right: 0.5rem;
}
